<!DOCTYPE html>
<html>
<head>
 <title><%= title %></title>

 <!-- bootstrap css -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Chela+One|Gloria+Hallelujah" rel="stylesheet">

 <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Estella</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="new">New Post</a></li>
                <!-- <li><a href="edit">Edit Post</a></li> -->
                <li><a href="archive">Archives</a></li>
                <li><a href="login">Login</a></li>
              </ul>
            </div>
          </nav>
    </div>

  <div class="row">
    <div class="jumbotron">
        <h1><%= title %></h1>
    </div> 
  </div>

  <div class="row contact-info">
      <h3>Feel free to contact me!</h3>

      <form method="POST">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" name="name" id="name" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" class="form-control" name="email" id="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="phone">Phone:</label>
          <input type="text" class="form-control" name="phone" id="phone" placeholder="phone number">
        </div>
        <div>
          <label for="summernote">Comment</label>
          <textarea class="summernote" name="story"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form> 

      <div class="row contact-info2">

        <ul>
          <li class="bullets">Email: zoeestellethomas@gmail.com</li><br>
          <li class="bullets">Phone: 0606089340 / 021-691 2258</li><br>
          <li class="bullets">42 Repulse rd, belgravia, Lincoln Estate, Crawford, 7764</li>
      </div>
  </div>

  <!-- <div class="panel-footer">Copyright @ Estella'sBookBlog | 2018</div> -->

  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2018 - Site Built By Zoe Estella
           <a href="http://tinyurl.com/tbvalid" target="_blank" >Copyright</a>
      </p>
      
      <a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-danger btn pull-right">
      <span class="glyphicon glyphicon-star"></span>  Subscribe on YouTube</a>
    </div>
  </div>
  
  </body>
  </html>