<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
</head>
<body>

    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Estella</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="new">New Post</a></li>
                <!-- <li><a href="edit">Edit Post</a></li> -->
                <li><a href="archive">Archives</a></li>
                <li><a href="login">Login</a></li>
              </ul>
            </div>
          </nav>
    </div>
  

    <div class="row">
        <div class="jumbotron">
            <h1><%= title %></h1>
        </div> 
      </div>

  <div class="container">
<form method="post" action="/new">
  <div class="form-group">
    <label for="Title">Title</label>
    <input type="text" class="form-control" placeholder="Title"
    id="title" name="title">
  </div>
<div class="form-group" style="display: inline; width: 50%;">
  <label for="author">Author:</label>
  <input type="text" class="form-control"
  placeholder="Name of author" id="author" name="author" style="display: inline; width: 45%;">
</div>

<div class="form-group" style="display: inline; width: 50%;">
    <label for="date">Date:</label>
    <input type="date" class="form-control"
    placeholder="date" id="date" name="Date" style="display: inline; width: 45%;">
  </div>

<div class="form-group">
  <label for="image">Image:</label>
  <input type="text" class="form-control" name="image" id="image" placeholder="Image URL">
</div>



<div>
  <label for="summary">Summary of story:</label>
  <textarea class="summernote" name="content"></textarea>
</div>

<div>
  <label for="summernote">Full story:</label>
  <textarea class="summernote" name="story"></textarea>
</div>

<button type="submit" class="btn btn-primary">Post</button>
</form>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left">© 2018 - Site Built By Zoe Estella
         <a href="http://tinyurl.com/tbvalid" target="_blank" >Copyright</a>
    </p>
    
    <a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-danger btn pull-right">
    <span class="glyphicon glyphicon-star"></span>  Subscribe on YouTube</a>
  </div>
</div>



<script type="text/javascript">
$(document).ready(function() {
  $('.summernote').summernote({
    height:300,
  });
});

</script>
</body>
</html>
