body {
  background-color:#defffc;
  /* background-image: url("https://hdwallsource.com/img/2015/6/crumpled-paper-wallpaper-hd-45972-47254-hd-wallpapers.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color:#ba8e51;
}

.jumbotron{
  /* background-image: url("../images/paper-background.jpg"); */
  font-family: 'Chela One', cursive;
  font-size:80px;
  text-align: center;
  background-color:#e2e4f6;
  color: #9ab8d4; 
}

.navbar{
  background-color:#e7c8dd;
  /* margin:0px; */
}

/* .panel-primary>.panel-heading{
  background-color:white;
  /* border:5px solid black; */
  /* color:rgba(167, 80, 135, 0.473); */
/* } */ 

.panel-primary>.panel-heading {
  /* background-color: ; */
  background-color: #dbafc1;
  color:white;
  border: 0px;
  /* border-color: black;  */
}

input #date .form-control{
  width: 50%;
}

.panel{
  border: 0px solid transparent;
  box-shadow: 0px 5px 5px grey;
}

/* .jumbotron{
  box-shadow:3px 3px 5px 5px rgb(238, 217, 217);
} */

.btn{
  color:rgba(150, 49, 113, 0.473);
  font-style: inherit;
  outline: none;
}

#article{
  background-color: white;
  line-height: 1.8em;
  color: gray;
}

.one, .two, .three, .four, .five, .six{
    background-color: rgba(167, 80, 135, 0.473);
    box-shadow: 3px 3px 5px 5px silver;
}

.btn{
  color:#00B7FF;
  background-color: transparent;
  /* outline:none; */
  border: 0px ;
}

.contact-info{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.contact-info2{
  grid-column-start: 2;
  grid-column-end: 3;
}



.a-head{
  color: white;
}

/* .panel-footer{
  margin: 0px; */
  /* padding:0px; */
/* } */

.navbar, .container{
  background-color: #dbafc1;
}

/* styling for login */
.main {
  max-width: 320px;
  margin: 0 auto;
}
.login-or {
  position: relative;
  font-size: 18px;
  color: #aaa;
  margin-top: 10px;
          margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}
.hr-or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
h3 {
  text-align: center;
  line-height: 300%;
}

